{% extends "layout.html" %}
{% block content %}
<img id="parallax" src="./static/Mtuci_logo.png">
{% for data in all_rows %}
<div class="card-deck d-inline-block", style="margin: 1rem;">
	<div class="card" style="width: 20rem;">
	  <div class="card-body">
	    <h5 class="card-title">{{ data[1] }}</h5>
	    <div class="content" style="display: block">
	    	<h6 class="card-subtitle mb-2 text-muted">Автор: {{ data[3] }}</h6>
	    	<p class="card-text"> {{ data[2] }}</p>
	    <a href="/post/{{ data[0] }}" class="card-link">Прочитать полностью</a>
		</div>
	    <button class="btn btn-primary fold-button">Свернуть</button>
	  </div>
	</div>
</div>
{% endfor %}
{% endblock %}